pkgbase = limine-vfio
	pkgdesc = Dynamic, device-agnostic PCI passthrough manager and hook for Limine bootloader
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/weignerg/limine-vfio
	install = limine-vfio.install
	arch = any
	license = MIT
	depends = bash
	depends = coreutils
	depends = pciutils
	depends = limine
	depends = limine-entry-tool
	optdepends = mkinitcpio: for creating early initramfs with vfio modules
	optdepends = limine-mkinitcpio-hook: for automatic hook execution on kernel upgrades
	optdepends = qemu-desktop: for KVM virtual machine execution
	optdepends = libvirt: for virtualization stack management
	optdepends = zenity: for optional GUI privilege escalation prompts
	backup = etc/vfio-passthrough.conf
	source = limine-vfio
	source = 95-vfio-entries
	source = vfio-passthrough.conf.example
	source = example-profile.conf
	source = limine-vfio.bash
	source = limine-vfio.zsh
	source = limine-vfio.fish
	source = limine-vfio.1
	source = LICENSE
	sha256sums = c74b0a189eee344c8085cfd24d01c72425cc7400ba02e4f53471b1c4b6904b77
	sha256sums = c4475b9f8367f67904be094e42b666a1af13af4fb7a35ab155e00ea41f1a7b69
	sha256sums = 02438e03bc29ccf9d8178a465d0981347e649bed8f0ef5ce38a3e872fa61ae60
	sha256sums = d29a0d4ac548ff10b4add8da243259b258961c502204e1633732dcd2f360e37d
	sha256sums = 5ca3725946d47b668a4ca1958f6dafa5766973df87ff90c520fa7cb57575e994
	sha256sums = 2cc0cad4242840c4b5aec0ced9338d832a53358c48f55bc8d76d40181d44c178
	sha256sums = 89f4afb7bf6caf803d8c1970f4f57dd4676d3999e95d4f437b072045ee02700c
	sha256sums = de9ed97fe48c8fa1bb2bf6666c642585c60665d61ee15986a12299bdcc5b5831
	sha256sums = 7f902bcc9bc916d46f0c46d642e2f37e878a464a89f7bc37b8eaa13e0830ae57

pkgname = limine-vfio
