pkgbase = limine-vfio
	pkgdesc = Dynamic, device-agnostic PCI passthrough manager and hook for Limine bootloader
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/weignerg/limine-vfio
	install = limine-vfio.install
	arch = any
	license = MIT
	depends = bash
	depends = coreutils
	depends = pciutils
	depends = limine
	depends = limine-entry-tool
	optdepends = mkinitcpio: for creating early initramfs with vfio modules
	optdepends = limine-mkinitcpio-hook: for automatic hook execution on kernel upgrades
	optdepends = qemu-desktop: for KVM virtual machine execution
	optdepends = libvirt: for virtualization stack management
	optdepends = zenity: for optional GUI privilege escalation prompts
	backup = etc/vfio-passthrough.conf
	source = limine-vfio
	source = 95-vfio-entries
	source = vfio-passthrough.conf.example
	source = example-profile.conf
	source = LICENSE
	sha256sums = 37be77c219ce0ec20527704d863a623be4e24a0c99b455d40e1a3d99b53f2370
	sha256sums = 5c5580d514fc6dbd03b1b3d9769564d798ca222958ec117cd8ae57090ec4eeaa
	sha256sums = 02438e03bc29ccf9d8178a465d0981347e649bed8f0ef5ce38a3e872fa61ae60
	sha256sums = d29a0d4ac548ff10b4add8da243259b258961c502204e1633732dcd2f360e37d
	sha256sums = 7f902bcc9bc916d46f0c46d642e2f37e878a464a89f7bc37b8eaa13e0830ae57

pkgname = limine-vfio
