pkgbase = limine-vfio
	pkgdesc = Dynamic, device-agnostic PCI passthrough manager and hook for Limine bootloader
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/weignerg/limine-vfio
	install = limine-vfio.install
	arch = any
	license = MIT
	depends = bash
	depends = coreutils
	depends = pciutils
	depends = limine
	depends = limine-entry-tool
	optdepends = mkinitcpio: for creating early initramfs with vfio modules
	optdepends = limine-mkinitcpio-hook: for automatic hook execution on kernel upgrades
	optdepends = qemu-desktop: for KVM virtual machine execution
	optdepends = libvirt: for virtualization stack management
	optdepends = zenity: for optional GUI privilege escalation prompts
	backup = etc/vfio-passthrough.conf
	source = limine-vfio
	source = 95-vfio-entries
	source = vfio-passthrough.conf.example
	source = example-profile.conf
	source = LICENSE
	sha256sums = 3e40a330a710e59a9c88f4e42e7557aa2a0549c1ff214b7046f0a0066488f39b
	sha256sums = 00a42b5a1ae5e9966424333986a7b54cc33408ca7566a72d8ee88a626ed2c2bd
	sha256sums = 02438e03bc29ccf9d8178a465d0981347e649bed8f0ef5ce38a3e872fa61ae60
	sha256sums = d29a0d4ac548ff10b4add8da243259b258961c502204e1633732dcd2f360e37d
	sha256sums = 7f902bcc9bc916d46f0c46d642e2f37e878a464a89f7bc37b8eaa13e0830ae57

pkgname = limine-vfio
